h1 {color: blue;}
p {color: orange;}
/* below is a group selector - selects more than one element */
p, h1 {font-family: Verdana, Geneva, Tahoma, sans-serif;}
/* looking for <a> tags inside of <p> tags below */
p a {color: red;}

/* format for an id selector */
#amazonlink {color: lightgreen;}

/* format for a class selector */
.fcolor {color: pink;}